{
  "singleQuote": true,
  "trailingComma": "all",
  "importOrder": [
    "^@nestjs/(.*)$",
    "^@fastify/(.*)$",
    "^@common/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
